/* LAYOUT */
body {
  min-height: 100vh;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: start;
  align-items: center;
  border-bottom: 1px solid #f4f1ef;
  padding: 0 10em;
}

nav ul {
  display: flex;
  gap: 1em;
  list-style-type: none;
}

nav h1 {
  font-size: 2em;
}

nav h1 span {
  color: blue;
}

li {
  cursor: pointer;
}

/* PRODUCT */
.product-wrapper {
  margin: 0 10em;
}

.product-container {
  display: flex;
  gap: 1em;
}

.product-images {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

.product-info {
  padding: 2em;
  width: 35%;
  box-shadow: 10px 5px 5px #f4f1ef;
}

.product-title {
  font-size: 3em;
  margin: 0;
  padding: 0;
}

.product-price {
  font-size: 2em;
  margin: 0;
  padding: 0;
}

img {
  width: 25%;
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

img:first-child {
  width: 100%;
  margin-bottom: 1em;
  border: 1px solid #f4f1ef;
  box-shadow: 10px 5px 5px #f4f1ef;
}

.message {
  width: 100%;
  text-align: center;
  padding: 0.5em 0;
  background-color: #f4f1ef;
  font-size: 1.1em;
}

.breadcrumb {
  display: flex;
  gap: 1em;
  padding: 1em 0;
}

.shoe-size-container {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.label-size {
  text-align: end;
  width: 100%;
  margin-bottom: 0.5em;
  font-weight: 600;
}

.sizes {
  display: flex;
  width: 70%;
  flex-wrap: wrap;
  gap: 5px;
  align-items: end;
  justify-content: end;
}

.shoe-size {
  width: 2em;
  height: 1em;
  padding: 5px;
  border: 1px solid whitesmoke;
  text-align: center;
}

.shoe-size:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

button {
  padding: 2em;
  width: 100%;
  margin-top: 1em;
  background-color: #f4f1ef;
  border: 1px solid black;
  font-size: 1em;
}

button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
  font-weight: bolder;
}
