<!DOCTYPE html>
<html lang="{{ shop.locale }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ product.title | escape }}</title>
  <link rel="stylesheet" type="text/css" href="./styles.css">
</head>
<body class="main">

<header>
  <div class="message">Free shipping to Canada on all orders. Product prices are inclusive of duties.</div>

  <nav>
    <h1>RUNNERS<span>4</span>ALL</h1>
    <ul>
      <li>WOMEN</li>
      <li>MEN</li>
      <li>KIDS</li>
      <li>STORES</li>
    </ul>
  </nav>
</header>

{% block content %}


{% endblock %}

<footer class="footer">
  <p>&copy; {{ 'now' | date: '%Y' }} Unit-203</p>
</footer>
</body>
</html>